<footer class="footer">
  <ul class="footer-navigation">
    <li> <a href="#">© Architecture Society</a></li>
    <li id="about"><a href="../about">About</a></li>
    <li><a href="../contact">Contact</a></li>
  </ul>
</footer>
