<!-- For CSS I am using Skeleton CSS Boilerplate http://getskeleton.com/ -->
<head>
  <meta charset="utf-8">
  <title> Architecture Society</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
