<header id="sticky">
  <div class="row user-specific-navigation">
    <% include site-branding.ejs %>
    <% include user-specific-navigation.ejs %>
  </div>
  <hr>
  <% include navigation.ejs %>
</header>
