<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/head.ejs %>

  <body>

    <% include partials/header.ejs {user:user} %>

    <div class="container">
      <div class="content">
          <h4>Oooooops!!......</h4>
          <img id="pencil" src="/images/Broken_Pencil.png" alt="Broken Pencil">
          <h5>Page not found!</h5>
          <p>Please try a different route</p>
      </div>
    </div>

    <% include partials/footer.ejs %>

  </body>
</html>
