<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/head.ejs %>

  <body >

    <% include partials/header.ejs {user:user} %>

    <div class="container">
      <div class="content">
          <h4>About Architecture Society!</h4>
          <p>Architecture Society was formed for facilitating communication and critical thinking in architecture and building science. The organization is committed to the research and development of computational methods that enhance design creativity.</p>
          <p>Check out the Architecture Connections section to browse available clubs </p>
      </div>
    </div>

    <% include partials/footer.ejs %>

  </body>
</html>
