<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/head.ejs %>

  <body>

    <% include partials/header.ejs {user:user} %>

    <div class="container">
      <div class="content">
          <h4>Contact Architecture Society!</h4>
          <h5>Manoj Deshpande</h5>
          <h6>Email:</h6>
          <p>mdeshpa4@uncc.edu</p>
          <h6>Ph:</h6>
          <p>(+1)980-319-8070</p>
      </div>
    </div>

    <% include partials/footer.ejs %>

  </body>
</html>
