<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/head.ejs %>

  <body>

    <% include partials/header.ejs {user:user} %>

    <div class="container">
      <div class="content">
          <h4>Welcome to Architecture Society!</h4>
          <p>Attend and create Architectural clubs with fellow architects and enthusiasts. Each club has a role model architect exculsive club specific events.
            Inter club debates are frequently organised to understand each others design methodlogy and ideology</p>
          <p>Check out the Architecture Connections section to browse available clubs </p>
      </div>
    </div>

    <% include partials/footer.ejs %>

  </body>
</html>
